@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {
  background: linear-gradient(180deg, #CDCDCD 0%, #F5F5F5 100%);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo > p {
  margin-top: 0%;
  margin-left: 1%;
  font-family: Inter;
  font-size: 3vw;
  font-weight: 600;
  line-height: 3.631vw;
  letter-spacing: -0.05em;
  text-align: left;
  color: #242A57;
}

.logo > a > i {
  width: 3vw;
  height: 3.2vw;
  color: #242A5D;
  margin-right: 2vw;
}

.CircleContainer {
  position: absolute;
  z-index: -1;
}

.circle1 {
  width: 47.9vw;
  height: 47.9vw;
  background-color: #242A5D;
  border-radius: 50%;
  margin-top: 25vw;
  margin-left: -10vw;
}

.circle2 {
  width: 61.6vw;
  height: 61.6vw;
  background-color: #99BCFF;
  border-radius: 50%;
  filter: blur(2.6vw);
  margin-top: -80vw;
  margin-left: 80vw;
}

.circle3 {
  width: 31vw;
  height: 31vw;
  background-color: #2A38B1;
  border-radius: 50%;
  filter: blur(5.3vw);
  margin-top: -80vw;
  margin-left: 50vw;
}

.bluebox-whitebox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2%;
}

.bluebox-whitebox-container > .bluebox {
  width: 30vw; /* Updated size */
  height: 36.15vw; /* Updated size */
  border-radius: 6.5vw; /* Updated size */
  background: linear-gradient(#4762FF, #78B6FF);
  box-shadow: 1.825vw 0 2.65vw -0.09vw rgba(0, 0, 0, 0.23); /* Updated size */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.bluebox-whitebox-container > .bluebox > .subTitle {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 2vw;
  line-height: 2.42vw;
  letter-spacing: -0.05rem;
  color: white;
  margin-top: 7.5%;
}

.bluebox-whitebox-container > .bluebox > .Title {
  font-family: 'Jua';
  font-weight: 400;
  font-size: 4.5vw; /* Updated size */
  line-height: 7.5vw; /* Updated size */
  letter-spacing: -0.05rem;
  color: white;
  margin-top: 3%;
  white-space: nowrap;
}

.bluebox-whitebox-container > .bluebox > .explain {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 1.25vw; /* Updated size */
  line-height: 1.49vw; /* Updated size */
  letter-spacing: -0.05rem;
  color: white;
  margin-top: -2%;
}

.bluebox-whitebox-container > .whitebox {
  width: 38.5vw; /* Updated size */
  height: 30vw; /* Updated size */
  margin-top: 12%;
  margin-left: -1%;
  border-radius: 5vw; /* Updated size */
  background-color: white;
  box-shadow: 1.9vw 1.1vw 3.25vw 0 rgba(0, 0, 0, 0.25); /* Updated size */
}

.bluebox-whitebox-container > .whitebox > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bluebox-whitebox-container > .whitebox > form > .LoginText {
  margin-top: 10%;
  margin-left: -45%;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 3vw;
  line-height: 3.63vw;
  color: #000000;
}

.bluebox-whitebox-container > .whitebox > form > p {
  margin-left: -60%;
  margin-top: 5%;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.89vw; /* Updated size */
  letter-spacing: -0.05rem;
  color: #BEBEBE;
}

input {
  box-sizing: border-box;
  width: 40vw; /* Updated size */
  max-width: 26.19vw; /* Updated size */
  height: 10vh; /* Updated size */
  max-height: 3.25vw; /* Updated size */
  border-radius: 2.75vw; /* Updated size */
  border: 0.05vw solid #C4C4C4; /* Updated size */
  outline: none;
  background-color: white;
  padding-left: 3.75vw;
  padding-right: 3.75vw;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  color: #4A4A4A;
  margin-top: -2vh;
  margin-bottom: -3vh;
}

.bluebox-whitebox-container > .whitebox > form > .UserText,
.bluebox-whitebox-container > .whitebox > form > .PasswordText {
  position: relative;
  
}

.bluebox-whitebox-container > .whitebox > form > .UserText > i,
.bluebox-whitebox-container > .whitebox > form > .PasswordText > i {
    position: absolute;
    top: 0.625vw; /* 업데이트된 크기 */
    left: 0.9375vw; /* 업데이트된 크기 */
    width: 1.431vw;
    height: 1.695vw;
    color: #575757;
    z-index: 1;
    font-size: 1.1vw; /* 추가된 속성: 반응형 폰트 크기 */
  }
  
  /* 반응형 스타일링 */
  @media (max-width: 768px) {
    .bluebox-whitebox-container > .whitebox > form > .PasswordText > i {
      top: 1.25vw; /* 업데이트된 크기 */
      left: 1.875vw; /* 업데이트된 크기 */
      width: 2.862vw;
      height: 3.39vw;
      font-size: 1.5vw; /* 반응형 폰트 크기 */
    }
  }
  
  @media (max-width: 576px) {
    .bluebox-whitebox-container > .whitebox > form > .PasswordText > i {
      top: 1.875vw; /* 업데이트된 크기 */
      left: 2.8125vw; /* 업데이트된 크기 */
      width: 2.862vw;
      height: 3.39vw;
      font-size: 1.8vw; /* 반응형 폰트 크기 */
    }
  }
  

#joinBtn {
  border: none;
  background-color: white;
  color: #c4c4c4;
  font-family: 'Inter', sans-serif;
  font-size: 0.8vw;
  font-weight: 400;
  cursor: pointer;
  margin-top: 4%;
  margin-left: 60%;
}

#joinBtn:hover {
    color:#4967FF;
}

#LoginBtn {
    width: calc(40vw - 1rem); /* 조절된 크기 */
    max-width: 26.19vw; /* Updated size */
    height: calc(6.25vh + 0.625rem); /* 조절된 크기 */
    max-height: 3.25vw; /* Updated size */
    margin-top: 2%;
    margin-left: auto; /* 수정된 부분 */
    margin-right: auto; /* 수정된 부분 */
    border: 2px solid #4967FF;
    border-radius: 55px;
    background-color: #4967FF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.25vw;
    color: white;
    cursor: pointer;

    
  }
  
 
  
  .bluebox-whitebox-container > .whitebox {
    position: relative; /* 추가된 속성 */
  }
  
  .bluebox-whitebox-container > .whitebox > #LoginBtn {
    position: absolute; /* 추가된 속성 */
    bottom: -10%; /* 원하는 위치로 조정 */
    left: 50%; /* 원하는 위치로 조정 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 속성 */
  }

.circleContainer{
    display: flex;
    justify-content: space-between;
    margin-top:3%;
    gap: 10px;
}

.bottomCircle1, .bottomCircle2, .bottomCircle3{
    width: 9.19px;
    height: 9.19px;
    border-radius: 50%;
    background-color: #4967FF;
}