.all>.right>.profile {
    margin-left: 2vw;
    margin-top: -2vw;
}

.all>.right>.profile>i {
    font-size: 3rem;
    color: #142F9E;
    display: inline-block;
}

@media (max-width:1200px) {
    .all>.right>.profile>i {
        font-size: 2rem;
    }
}

@media (max-width:700px) {
    .all>.right>.profile>i {
        font-size: 1.5rem;
    }
}

.all>.right>.profile>p {
    display: inline-block;
    padding-top: 2vw;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 2vw;
    line-height: 10px;
    letter-spacing: -0.05rem;
    color: #142F9E;
    margin-left: 0.5vw;
}

.all>.right>form>.profilebox {
    width: 90%;
    height: auto;
    border: 1px solid #919191;
    border-radius: 70px;
    background-color: white;
    margin-left: 2vw;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    text-align: left;
    padding-bottom: 2vw;
    position: relative;
}

.all>.right>form>.profilebox>input{
    width: 35vw;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 4vw;
    line-height: 30px;
    letter-spacing: -0.1rem;
    color: #142F9E;
    margin-left: 10%;
    margin-top: 10%;
    outline: none;
}

.all>.right>form>.profilebox>.emailbox {
    width: 26vw;
    height: 4.8vh;
    border-radius: 100px;
    border: none;
    background-color: #0015AD;
    opacity: 0.6;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.32);
    margin-left: 10%;
    margin-top: 1%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 10px;
    letter-spacing: -0.05rem;
    color: white;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.all>.right>form>.profilebox>.photoEdit {
    position: absolute;
    margin-top: 1vw;
    margin-left: -1vw;
}

.all>.right>form>.profilebox>.photoEdit>.photo {
    position: relative;
    width: 15vw;
    height: 15vw;
    border: 2px solid #142F9E;
    background: linear-gradient(#CFCFCF, #FFFFFF);
    border-radius: 50%;
    margin-left: 45vw;
    margin-top: -10vw;
    background-position: center;
    background-size: cover;
}

#rephoto {
    position: absolute;
    border: none;
    width: 3vw;
    height: 3vw;
    background-color: #0015AD;
    border-radius: 50%;
    margin-left: 57vw;
    margin-top: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rephoto>label>i {
    width: 1.5vw;
    height: 1.6vw;
    color: white;
    margin-top: 1.5vw;
    margin-left:0.5vw;
}

@media (max-width:1200px) {
    #rephoto>label>i {
        font-size: 0.1rem;
    }
}

.all>.right>form>.profilebox>.EmailContainer {
    width: 33vw;
    height: auto;
    border: 4px solid #5378FF;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: -1vw;
}

.all>.right>form>.profilebox>.ExplainContainer1,
.all>.right>form>.profilebox>.ExplainContainer2 {
    width: 33vw;
    height: auto;
    border: 4px solid #5378FF;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: 4vw;
}

.all>.right>form>.profilebox>.EmailContainer>#Email {
    margin-top: 5vw;
}

.all>.right>form>.profilebox>.EmailContainer>#EmailContainer {
    width: 20vw;
    margin-top: 5vw;
    height: 3vw;
    outline: none;
}

.all>.right>form>.profilebox>.EmailContainer>#Email,
.all>.right>form>.profilebox>.ExplainContainer1>#Explain,
.all>.right>form>.profilebox>.EmailContainer>#EmailContainer {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.9vw;
    line-height: 10px;
    letter-spacing: -0.05rem;
    color: #4967FF;
    margin-left: 0;
    margin-bottom: 0.8vw;
}

.all>.right>form>.profilebox>.EmailContainer>p {
    margin-top: 5vw;
}

.all>.right>form>.profilebox>.EmailContainer>p,
.all>.right>form>.profilebox>.ExplainContainer2>input {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 10px;
    letter-spacing: -0.05rem;
    color: #4967FF;
    margin-right: 0;
    margin-bottom: 0.8vw;
}

.all>.right>form>.profilebox>.ExplainContainer2>input {
    width: 50vw;
    outline: none;
}

.all>.right>form>.profilebox>.ExplainContainer1,
.all>.right>form>.profilebox>.ExplainContainer2 {
    width: 50vw;
}

.all>.right>form>.profilebox>.ExplainContainer2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5vw;
}

.all>.right>form>.profilebox>.buttonContainer {
    display: flex;
    margin-bottom: 1vw;
    margin-top: 1vw;
    justify-content: flex-end;
    margin-right: 7vw;
}

#edit,
#save {
    margin: 0;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1vw;
    background-color: white;
    cursor: pointer;
    white-space: nowrap;
    color: #0418AB;
}

#save {
    margin-left: -0.1vw;
}

#logout {
    width: 8.5vw;
    height: 3vw;
    border-radius: 5vw;
    border: none;
    background-color: #142F9E;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 1vw;
    letter-spacing: -0.05rem;
    text-align: center;
    color: white;
    margin-left: 57%;
}

#logout>i {
    margin-left: 1vw;
}