{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boards</title>
</head>
<body>
    <h1>
        {% if board_type == 'information' %}
            정보 게시판
        {% elif board_type == 'review' %}
            후기 게시판
        {% elif board_type == 'hometown' %}
            우리동네 게시판
        {% endif %}
    </h1>

    <a href="{% url 'boards:post-create' %}">
        글쓰기
    </a>
    <div class="post-list">
        <table>
            <tr>
                <th>Topic</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회</th>
            </tr>
            {% for post in post_list %}
                {% include 'mixin/posts/post_line.html' with detail=False %}
            {% endfor %}
        </table>
    </div>

</body>
</html>