{% extends 'base2.html' %}
{% load static %}

{% block content %}
<script src="{% static 'javascript/post.js' %}"></script>
<div class="writebar">
    <p id="writeTitle">
        {% if board_type == 'information' %}
            <h2>정보 게시판</h2>
        {% elif board_type == 'review' %}
            <h2>후기 게시판</h2>
        {% elif board_type == 'hometown' %}
            <h2>우리동네 게시판</h2>
        {% endif %}
    </p>
    <p id="subTitle">정보 게시판 & 후기 게시판 & 우리동네 게시판</p>
    <i class="fa-solid fa-repeat fa-lg"></i>
</div>
<div class="detail_whitebox">
    <div class="category">
        <a>전체 게시판 </a>><a> {{ post.board_type }} </a>><a> {{ post.topic }} 후기</a>
    </div>
    <div class="detail_whitebox_title">
        <div class="Pcontainer">
            <p id="Ptitle">{{post.title}}</p>
            {% if post.writer == request.user %}
                <div class="dropdown">
                    <i class="fa-solid fa-ellipsis-vertical dropdown-icon" onclick="toggleDropdown()"></i>
                    <div class="dropdown-options" id="dropdown-options">
                        <a href="{% url 'boards:post-update' board_type=post.board_type topic=post.topic id=post.id %}">
                            <div class="dropdown-option" onclick="editOption()">수정하기</div><hr>
                        </a>
                        <div class="dropdown-option" onclick="deleteOption('{{ post.id }}')">삭제하기</div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="detail_user">
            <div class="detail_userImage"></div>
            <div class="detail_user2">
                <a class="detail_nickname">{{post.writer}}</a>
                <div class="detail_user3">
                    <a class="detail_date">{{post.created_at}} </a>
                    <p class="detail_line"> | </p>
                    <a class="detail_place">{{post.city}} {{post.country}}</a>
                    <p class="detail_line"> | </p>
                    <a class=" detail_see">조회 </a>
                    <a class="detail_see">{{post.view_count}}</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="inputText">
        {% if post.image %}
            <p><img src="{{ post.image.url }}" alt="이미지"></p>
        {% endif %}
        <p class="detail_text">{{post.content}} </p>
        {% if post.file %}
            <p>파일: <a href="{{ post.file.url }}">{{ post.file}}</a></p>
        {% endif %}
    </div>
</div>

<div class="detail_bottom">
    <button id="like" onclick="toggleLikeIcon()"><i class="fa-solid fa-heart"></i> 좋아요 <i id="icon1" class="fa-solid fa-chevron-down"></i></button>
    <button id="comment" onclick="toggleCommentIcon()"><i class="fa-solid fa-comment"></i> 댓글 <i id="icon2" class="fa-solid fa-chevron-down"></i></button>
    <div id="comment-list" style="display: none;">
        <!-- 댓글 리스트 내용 -->
        <form id="comment-form" style="display: none;">
            <textarea rows="10" cols="120"></textarea>
            <br>
            <button class="comment_correct" type="submit">완료</button>
        </form>
        {% for comment in comments %}
        <div class="comment_box">
            <div class="comment_user">
                <div class="comment_userImage"></div>
                <a class="comment_nickname">{{ comment.writer }}</a>

                <div class="comment_dropdown">
                    <i class="fa-solid fa-ellipsis-vertical dropdown-icon" onclick="comment_toggleDropdown()"></i>
                    <div class="comment_dropdown-options" id="comment_dropdown-options">
                        <a href="{% url 'boards:post-update' board_type=post.board_type topic=post.topic id=post.id %}">
                            <div class="comment_dropdown-option">수정하기</div>
                        </a>
                        <hr>
                        <div class="comment_dropdown-option" onclick="comment_deleteOption()">삭제하기</div>
                    </div>
                </div>
            </div>
            <a class="comment_text">{{ comment.content }}</a><br><br>
            <div class="flexContainer">
                <a class="comment_date">{{ comment.created_at }}</a>
                <button id="comment_like"><i class="fa-solid fa-heart"></i><a>1</a></button>
            </div>
        </div>
        {% endfor %}

        <form action="{% url 'boards:create-comment' post_id=post.id %}" method="POST">
            {% csrf_token %}
            <div class="comment_box">
                <div class="comment_user">
                    <img class="comment_userImage" {% if user.image %}src="{{user.image.url}}"{% endif %}></img>
                    <a class="comment_nickname">{{user.nickname}}</a>
                    <div class="comment_dropdown">
                        <i class="fa-solid fa-ellipsis-vertical dropdown-icon" onclick="comment_toggleDropdown()"></i>
                        <div class="comment_dropdown-options" id="comment_dropdown-options">
                        
                        <div class="comment_dropdown-option" onclick="comment_deleteOption()">삭제하기</div>
                    </div>
                </div>
            </div>
            <input type="text" id="comment_text1" name='content'><br>
            <div class="buttonContainer">
                <button id="comment_like1" type="submit">완료</button>
            </div>
        </form>
    </div>
</div>


<script>
    function deleteOption(postId) {
        var result = confirm("정말로 삭제하시겠습니까?");
        if (result) {
            var postId = "{{ post.id }}";
            var url = "{% url 'boards:post-delete' id=0 %}".replace('0', postId);
            window.location.href = url;
        } else {
            // 삭제 취소
        }
    }
</script>
{% endblock %}