{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<div class="EditTitle">
    <a href="{% url 'profile' id=user.id %}">
        <p>Your Profile</p>
    </a>
</div>

<div class="profile">
    <i class="fa-solid fa-gear fa-2xl"></i>
    <p>프로필 편집</p>
    <a href="{% url 'accounts:logout' %}">
        <button id="logout">로그아웃<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </a>
</div>

<div>
    <div class="profilebox">
        <p id="uname">{{ user.nickname }}</p>
        <div class="emailbox">{{ user.email }}</div>
        <div class="photoEdit">
            <img class="photo" src="{{user.image.url}}" alt="이미지"></img>
            <button id="rephoto">
                <i class="fa-solid fa-pen fa-xl"></i>
            </button>
            <div class="modal-container" id="modalContainer">
                <div class="modal" id="modal">
                    <button id="close">X</button>
                    <h1>프로필 사진 변경</h1>
                    <input type="file" id="photoInput">
                    <div class="photobox">
                        <div class="photoImage"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="EmailContainer">
            <p id="Email">E-mail</p>
            <p id="Emailtext">{{ user.email }}</p>
        </div>
        <div class="ExplainContainer1">
            <p id="Explain">소개글</p>
        </div>
        <div class="ExplainContainer2">
            <p id="explaintext">{{ user.introduction }}</p>
        </div>
        <div class="buttonContainer">
            <button id="edit" onclick="redirectToProfile({{ user.id }})">수정하기 <span style=font-weight:600;></span></button>
        </div>
    </div>
<div>
<script src="{% static 'javascript/profile.js' %}"></script>
<script>
    function redirectToProfile(id) {
        console.log(id, "아아아ㅏ");
        window.location.href = "/profile/edit/" + id + "/";
    }    
</script>
{% endblock %}