<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LisaMate</title>
    <link rel="stylesheet" href="../static/css/warning.css">
    <script src="https://kit.fontawesome.com/d4b61b3d04.js" crossorigin="anonymous"></script>
</head>
<body>
    
        <div class="warning" style="margin-left:30%;">
                <i class="fa-regular fa-square-check fa-2xl" style="color: #ffffff;"></i>
                <hr class="warning_hr">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <p class="warning_text">이 페이지를 찾을 수 없습니다.</p>
                <hr class="warning_hr">
        </div>


    </div>


</body>
</html>